body {
  background: url("https://images.unsplash.com/photo-1527515545081-5db817172677?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80")
    center no-repeat;
}

.container {
  max-width: 75vw;
  background-color: white;
  margin-top: 20vh;
  opacity: 0.9;
}

form input {
  width: 90px;
}
